body {


    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 0.9em;
    color: black;
    
}

div#container {width:800px;background-color:lightgrey;padding:15px;margin: auto;}


div#header1 { height: 150px; background-color: darkolivegreen; color: white; padding:0px;margin: auto;}

#header1-logo {

	float: left;
	width: 250px;
	height: 150px;
	
}
#header1-addr {

	float: right;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: 24px;
	text-align: center;
        
        padding-right: 0px;
	width: 549px;
	height: 150px;
	
}



div#left {

    float: left;
    margin-top: 15px;
    width: 250px;

    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 0.9em;
    color: black;
    background-color: white;
    
}

div#right {

    float: right;
    margin-top: 15px;
    width: 540px;
    height: auto;
    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 0.8em;
    color: darkblue;
    background-color: white;
    
}

div#latest-news {

    padding: 5px;
    height: 20px;
    margin: 0px;
    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 1.0em;
    font-weight: 800;
    color: white;
    text-align: center;
    background-color: darkolivegreen;

   

}


div#middle-news {

    padding-left: 5px;
    height: auto;
    margin: 0px;
    width: auto;
    color: black;

}









div#footer {

    clear: both;
    background-color:lightgrey;
    margin-top: 10px;

}
#footer-container {

	clear: both;
        height: 60px;
	font-family: verdana, Arial, Helvetica, Sans-serif;
	font-size: 0.7em;
	color: white;
        background-color: black;
        
	padding-left: 0px;
	padding-top: 5px;
	
}

div#hosting {

    float: left;
    width: 300px;
    margin: 10px;
    

}

div#footerc {
	float: left;
	text-align: center;		 
	padding-top: 5px;
        color: white;
}

div#footerr {
	float: right;
	text-align: right;
        color: white;
        margin: 10px;
        width: 250px;		 
	padding-top: 5px;
}

#footerr a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

#footerr a:hover {
	color: white;
     
	text-decoration: underline;
}
#left a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

#left a:hover {
	color: white;
	text-decoration: underline;
}

#left ul {
	list-style-type: none;
        padding-left: 10px;
	padding-right: 10px;
	color: darkblue;
	line-height: 150%; 
}

#left li {
	list-style-type: none;
        padding-left: 15px;
	color: black;
	line-height: 150%; 
}

#right a {
	color: black;
	text-decoration: none;
	font-weight: 700;
}

#right a:hover {
	color: black;
	text-decoration: underline;
}

#right li {
	list-style-type: none;
	color: black;
	line-height: 150%; 
}
/* LightBox Below */

#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink { left: 0; float: left; background: url(../images/prevlabel.gif) left 15% no-repeat;}
#nextLink { right: 0; float: right; background: url(../images/nextlabel.gif) right 15% no-repeat;}

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }