body {


    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 0.9em;
    color: black;
    
}

div#container {width:800px;background-color:lightgrey;padding:15px;margin: auto;}


div#header1 { height: 150px; background-color: darkolivegreen; color: white; padding:0px;margin: auto;}

#header1-logo {

	float: left;
	width: 250px;
	height: 150px;
	
}
#header1-addr {

	float: right;
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-serif;
	font-size: 24px;
	text-align: center;
        
        padding-right: 0px;
	width: 549px;
	height: 150px;
	
}



div#left {

    float: left;
    margin-top: 15px;
    width: 180px;

    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 0.9em;
    color: black;
    background-color: white;
    
}

div#right {

    float: right;
    margin-top: 15px;
    width: 610px;
    height: auto;
    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 0.8em;
    color: darkblue;
    background-color: white;
    
}

div#latest-news {

    padding: 5px;
    height: 20px;
    margin: 0px;
    font-family: verdana, Arial, Helvetica, Sans-serif;
    font-size: 1.0em;
    font-weight: 800;
    color: white;
    text-align: center;
    background-color: darkolivegreen;

   

}


div#middle-news {

    padding-left: 0px;
    height: auto;
    margin: 0px;
    width: auto;
    font-size: 8pt;
    color: black;

}









div#footer {

    clear: both;
    background-color:lightgrey;
    margin-top: 10px;

}
#footer-container {

	clear: both;
        height: 60px;
	font-family: verdana, Arial, Helvetica, Sans-serif;
	font-size: 0.7em;
	color: white;
        background-color: black;
        
	padding-left: 0px;
	padding-top: 5px;
	
}

div#hosting {

    float: left;
    width: 300px;
    margin: 10px;
    

}

div#footerc {
	float: left;
	text-align: center;		 
	padding-top: 5px;
        color: white;
}

div#footerr {
	float: right;
	text-align: right;
        color: white;
        margin: 10px;
        width: 250px;		 
	padding-top: 5px;
}

#footerr a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

#footerr a:hover {
	color: white;
     
	text-decoration: underline;
}
#left a {
	color: white;
	text-decoration: none;
	font-weight: 700;
}

#left a:hover {
	color: white;
	text-decoration: underline;
}

#left ul {
	list-style-type: none;
        padding-left: 10px;
	padding-right: 10px;
	color: darkblue;
	line-height: 150%; 
}

#left li {
	list-style-type: none;
        padding-left: 15px;
	color: black;
	line-height: 150%; 
}

#right a {
	color: black;
	text-decoration: none;
	font-weight: 700;
}

#right a:hover {
	color: black;
	text-decoration: underline;
}

#right li {
	list-style-type: none;
	color: black;
	line-height: 150%; 
}